[submodule "libs/diff-match-patch-cpp-stl"]
	path = libs/diff-match-patch-cpp-stl
	url = https://github.com/leutloff/diff-match-patch-cpp-stl
[submodule "libs/pydifflib-cpp"]
	path = libs/pydifflib-cpp
	url = https://github.com/dominicprice/pydifflib-cpp
